
nav.site-navbar{
    background-color:#2C3E50;
}
.main-header div.container a.navbar-brand,
.main-header div.container a.nav-link,
.jumbo,
.about{
    color:white;
}

.main-header .navbar-brand{
    font-size: 1.2rem;
}

.jumbo,
.about{
    background-color:#1ABC9C;
}
.jumbo .fw-bold{
    font-size: 2rem;
}

.jumbo img{
    max-width: 40vh;
}

.bar{
    background-color: white;
    height:5px;
    width: 7vw;
    border-radius: 5px;
}

.star{
    color: white;
    max-width: 8vw;
    font-size: 1.3rem;
    text-align: center;
}

.portfolio .bar,
.contact .bar{
    background-color: #2C3E50;
}

.portfolio .star,
.contact .star{
    color: #2C3E50;
}

.portfolio img{
    max-width: 100%;
    border-radius: 10px;
}

a.site-button{
border-radius: 8px;
border:1px solid white;
color: white;
background-color: #1ABC9C;
}

.contact .site-form{
    border: none;
    border-bottom: 1px solid lightgray;
    border-radius: 0;
}

.contact .site-form:focus{
    box-shadow: none;
    border-bottom: 1px solid black;
}
.footer{
background-color: #3B546E;
color:white
}

.footer .fab {
    border-radius: 50%;
    border: 1px solid white;
    height: 30px;
    width: 30px;
    line-height: 30px;
}

.green{
    color: #21B999;
}
.copyright{
    background-color:#2C3F4F;
}